.container {
    display: grid;
    background-color: #ffffff;
    /* max-width: 100vh; */
    /* min-height: 500px; */
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 93vh;
    min-width: 100vh;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    /* border: 2px solid rgb(111, 110, 110); */
  }

.subContainer {
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    background-color: white;
    /* padding:  0 0 5rem 2rem; */
    display: flex ;
    z-index: 0;
    box-shadow: 10px 10px 5px gray;
    transition: ease-in;
    transition-duration: 500ms;
    transform: rotate(-3deg);
}

.aboutText {
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-rows: repeat(4, minmax(0, 1fr));;
    background-color: red;
}
.headerText {
    grid-column: span 4 / span 4;
}