.container {
    display: flex;
    background-color: #f8e6b6;
    /* background-color: #907971; */
    /* background-color: #ffffff; */
    max-width: 100%;
    max-height: 100vh;
    height: 93vh;
    /* justify-content: center; */
    /* align-items: center; */
    /* padding-top:0.5rem; */
    flex-direction: column;
    
}

.icon {
    display: flex;
    background-color: #ffffff;
    width: 180;
    height: 180;
    justify-content: center;
    align-items: center;
    /* padding-top: 10px; */
    margin-top: 10px;
    border: 2px solid black;
}

.space {
    display: grid;
    width: 350px;
    height: 400px;
    justify-content: center;
    align-items: center; 
    flex-direction: row;
    /* grid-auto-rows: auto; */
}

.card {
    display: flex;
    background-color: #ffffff;
    width: 250px;
    height: 300px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* padding: 30px 0px 0px 0px; */
    /* border: 2px solid black; */
    border-radius: 5px;
    /* box-shadow: 5px 5px 3px #aaaaaa; */
    box-shadow: 2px 2px 5px #aaaaaa;
    transition: ease-in-out;
    transition-duration: 500ms;
}

.card:hover {
    display: flex;
    background-color: #ffffff;
    width: 250px;
    height: 300px;
    justify-content: center;
    align-items: center;
    /* padding-top: 30px; */
    /* border: 2px solid black; */
    /* border-radius: 20px; */
    box-shadow: 7px 7px 5px #aaaaaa;
    animation: shimmy 1.5s infinite;
    animation-direction: alternate;
}

@keyframes shimmy {
    0% {
      transform: translate(0, 0);    
    }
    100% {
        transform: translate(0px, -30px);
    }
  }