@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    background-color: #F5F2EA;
    color: black;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: white;
  }
  body {
    color: dark;
    background: white;
  }
}

@layer utilities {
  /* Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

.input-button {
  width: 100%;
  height: 40px;
  background-color: white;
  border: 1px solid rgb(224, 224, 224);
  padding-left: 20px ;
  padding-right: 20px;
  font-size: 16px;
  font-weight: 50px;
  border-radius: 0.75rem;
}

.button{
  width: 100%;
  height: 40px;
  background-color: #FDC886;
  border-radius: 0.75rem;
  padding-left: 20px ;
  padding-right: 20px;
  font-size: 16px;
  font-weight: 50px;
}

.inputStyle {
  display: flex;
  justify-content: center;
  justify-items: center;
  width: 60% !important;
  height: 45px;
  border-radius: 7px;
  border: 0px;
  margin-left: 8px;
  margin-right: 8px;
  background: #dddddd;
  font-size: 20px;
}

.modalOverlay {
  position: absolute;
  width: 100%;
  min-width: 400px;
  /* min-height: 100vw; */
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal {
  background: #ffffff;
  width: 400px;
  /* min-width: 400px;; */
  height: 200px;
  min-height: 200px;
  border-radius: 15px;
  padding: 15px;
  box-shadow: 10px 10px 10px gray;
  border: 2px solid #fdb052;
  /* padding: %; */
}

.modalHeader {
  display: flex;
  justify-content: flex-end;
  font-size: 25px;
  height: 10%;
  padding-right: 15px;
}

.modalBody {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  padding-left: 3%;
  /* padding-right: 3%; */
  /* height: 100%; */
  /* background-color: red; */
  height: 90%
  /* padding-top: 10px; */
}

