
.fix {
  padding-top: 10rem ;
  display: flex;
  /* position: fixed; */
  top: 0rem;
  width: 100%;
  background-color: rgb(255, 255, 255);
  justify-content: space-between;
  padding: 0rem 0rem 0rem 0rem;
  box-shadow: 5px 5px 3px #050505;
  z-index: 100;
  display:flex;
  position: fixed
}

.child {
  display: inline-flex;
  color: #000000;
  margin: 1rem ;
  font-size: 20px;
  padding: 2px 10px 2px 10px;
  transition: ease-in;
  transition-duration: 100ms;
  border-bottom: 2px solid #ffffff;
  /* border-left: 1px solid #919191 ; */
}

.child:hover {
  display: inline-flex;
  color: #000000;
  margin: 1rem ;
  font-size: 20px;
  /* border-left: 1px solid #919191 ; */
  padding: 2px 10px 2px 10px;
  /* background-color: #fcba748e; */
  background-color: #ffffff;
  /* border-radius: 5px; */
  /* box-shadow: var(--tw-ring-inset) 0 0 0 calc(2px + var(--tw-ring-offset-width)) var(--tw-ring-color); */
  /* outline-width: 2px;
  outline-color: #907971;
  outline-style: double; */
  border-bottom: 2px solid #907971;
}





